@model List<ForgingAhead.Models.Character>

    <h1>Characters</h1>
    <p>
        <a asp-action="Create" asp-controller="Character">Create new character</a>
    </p>

    <ul>
        <a asp-action="Details" asp-controller="Character" asp-route-name="@item.Name" />
        @foreach(var item in Model) {
            <li>@item.Name</li>
        }
    </ul>