@model List<WebApplication.Models.Project>

    <h1>Account</h1>

    <!--create new project button-->
    <a asp-action="Create" asp-controller="User">Create a new account</a>      
    <!--<ul>
        @foreach (var project in Model) {
            <li>@project.Name</li>
        }
    </ul>-->