@{
    ViewData["Title"] = "Idea";
}
<h2>@ViewData["Message"]</h2>

<form asp-action="IdeaView">
    <p>Choose a Location:</p>
    <select name="Location" size="1" >
        <option value="IDEA_CENTER">IDEA CENTER</option>
        <option value="MDC-WOLFSON">MDC-WOLFSON</option>
        <option value="GREATER_MIAMI">GREATER MIAMI</option>
    </select><p></p>
    <p>Choose a Project:</p>
    <select name="Project" size="1">
        <option value="templateA">Template Project A</option>
        <option value="templateB">Template Project B</option>
        <option value="templateC">Template Project C</option>
        <option value="customTemplate">Custom Project</option>
    </select><p></p>
    <p>Give your project a title:</p>
    <input type="text" name="Title" size="12" placeholder="Title"/><p></p>
    <p>Description: In a few words, describe what your project is about.</p>
    <textarea name="Description" rows="4" cols="200"></textarea><p></p>
    @*<p>5. Goal: <input type="text" name="Goal" size="6" placeholder="$0.00"/></p>*@
   
    @*PROGRESS BAR*@
    @*<input type="text" name="Description" style="height: 80px" width="300" size="20000"/>*@
    <input type="submit" value="NEXT" />



   
</form>