@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    /* Carousel Styling */
    .slide1 {
        background-image: url('http://i.imgur.com/E8Frf0h.jpg');
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .slide2 {
        /*background-image: url('~/images/firebackground.jpg');*/
        /*background-image: url('../Home/firebackground.jpg');*/
        background-image: url("http://i.imgur.com/E8Frf0h.jpg");
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .slide3 {
        background-image: url('http://i.imgur.com/E8Frf0h.jpg');
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
<!-- .navbar-fixed-top, or .navbar-fixed-bottom can be added to keep the nav bar fixed on the screen -->
<

<!--Home Page Carousel-->
<body>
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">

                <div class="slide1"></div>
                <div class="carousel-caption">
                    <h1>Find A Problem</h1>
                    <p>Is there an issue within your community you  would like to see solved?</p>
                    <p><a href="Account/Login" class="btn btn-primary btn-sm">Start A Wildfire</a></p>
                </div>
            </div>
            <div class="item">

                <div class="slide2"></div>

                <div class="carousel-caption">
                    <h1>Gather Support</h1>
                    <p>Use the power of the internet to gather more supporters than ever imagined!</p>
                    <p><a href="Account/Login" class="btn btn-primary btn-sm">Support Awaits &rArr;</a></p>
                </div>
            </div>
            <div class="item">
                <div class="slide3"></div>
                <div class="carousel-caption">
                    <h1>Wildfire</h1>
                    <p>With our platform, you will be able to invoke changes you never thought possible</p>
                    <p><a href="Account/Login" class="btn btn-primary btn-sm">Wildfire</a></p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

    </div>
</body>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 1</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 1</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 2</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 2</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div><div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 3</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 3</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 4</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 4</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 5</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 5</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div><div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 6</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 6</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 7</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 7</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 8</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 8</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div><div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 9</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 9</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 10</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 10</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 11</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 11</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div><div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border: 2px solid black">
            <h2>Project 12</h2>
            <p><img src="~/images/fireTree.jpg" alt="Wildfire" width="240" height="200" /></p>
            <p>Info on Project 12</p>
            <p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        <span class="sr-only">40% complete</span>
                    </div>
                </div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
</div>